<li [ngClass]="{ 'list-group-item': true,
 'list-group-item-success': appareilStatus === 'allumé',
 'list-group-item-danger': appareilStatus === 'éteint'}">
  <h4 [ngStyle]="{ color: getColor()}">Appareil {{ appareilName }} --- Statut: {{ getStatus() }}</h4>
  <button class="btn btn-sm btn-success"
          style="margin-top: 10px; margin-right: 10px"
          [disabled]="appareilStatus === 'éteint'"
          (click)="onSwitch()">Allumer</button>
  <button class="btn btn-sm btn-danger"
          style="margin-top: 10px;"
          [disabled]="appareilStatus === 'allumé'"
          (click)="onSwitch()">Eteindre</button>
</li>
